.wrapper {
    display: flex;
    .form {
        width: 50%;
        flex-grow: 1;
    }

    .preview {
        min-width: 825px;
        width: 50%;
    }

}

footer {
    text-align: center;
    padding: 5px;
}

@media screen and (max-width: 1460px) and (min-width: 900px) {
    .wrapper {
        flex-direction: column;
        .form, .preview {
            width: 100%;
        }
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        flex-direction: column;
        .form, .preview {
            width: unset;
        }
    }
}